<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="SQL2016Dev" connectionString="DataBase=BonniDBDev; Server=.\SQL2016; Initial Catalog=BonniDBDev; Connect Timeout = 30; Integrated Security=SSPI; User Id=BonniReadWrite; Password=!3BRW13"/>
    <add name="SQL2016Prod" connectionString="DataBase=BonniDBProd; Server=.\SQL2016; Initial Catalog=BonniDBProd; Connect Timeout = 30; Integrated Security=SSPI" />
    <add name="BonniDBDevEntities" connectionString="metadata=res://*/BonniEF.csdl|res://*/BonniEF.ssdl|res://*/BonniEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARC-DESKTOP\SQL2016;initial catalog=BonniDBDev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>